.tableContainer {
  width: 98%;
  margin: 20px auto;
}
.table {
  
  border-collapse: collapse;
  width: 100%;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #02614e;
  color: white;
}
.actionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actionBox div {
  cursor: pointer;
}
