.container {
  width: 98%;
  height: 100%;
  margin: auto;
  /* border: 1px solid red; */
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
}
.box {
  margin-top: 20px;
  margin-left: 20px;
  width: 20%;

  /* border: 1px solid red; */
}

.label {
  font-size: 16px;
  font-weight: 900 !important;
  color: rgb(0, 0, 0);
}
.input {
  width: 90%;
  font-size: 14px;
  padding: 5px 6px;
  margin-top: 5px;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 4px;
  color: black;
  font-family: "Montserrat" !important;
}
.input:focus{
  outline: none;
}
.textarea:focus{
  outline: none;
}
.textarea {
  width: 90%;
  font-size: 14px;
  padding: 5px 6px;
  margin-top: 5px;
  border: 1px solid rgb(208, 207, 207);
  border-radius: 4px;
  resize: vertical;
  color: black;
  font-family: "Montserrat" !important;
}
.invalidDate{
  border: 2px solid red;
}
.dateError{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}